*{
    margin: 0;
    padding: 0;
}

header{
    background-color: grey;
    height: 80px;
}

.riquadro{
    display: inline-block;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 50px;
    padding-bottom: 10px;
}

/* creazione contenitore */
#container{
    width: 70%;
    margin: 10px auto;
    background-color: red;
    margin-top: 50px;
    height: 800px;
    border-radius: 5px;
}

/* modifiche pulsanti */
.button{
    padding-left: 70px;
    padding-top: 20px;
    font-size: 32px;
    display: inline-block;
}

button{
    width: 80px;
    height: 30px;
    background-color: rgb(8, 206, 255);
    border-radius: 10px;
    margin-bottom: 10px;
}

#aggiungi{
    padding-left: 5px;
    color: white;
}

.secondbutton{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 32px;
    display: inline-block;
}

#second{
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
}

#secondtxt{
    padding-left: 5px;
    color:  silver;
}

.primasezione{
    border-bottom: 2px solid gray;
}

/* inserimento delle diverse parti */
.containerinterno{
    width: 90%;
    margin: 10px auto;
}

.simbolo{
    font-size: 35px;
}

.moments{
    color: black;
    font-size: 30px;
    font-family: Arial black;
}