*{
    margin: 0;
    padding: 0;
}

body{
    background-color:  whitesmoke;
}

header{
    background-color: snow;
    height: 80px;
}

.riquadro{
    display: inline-block;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 50px;
    padding-bottom: 10px;
}

/* creazione contenitore */
#container{
    width: 70%;
    margin: 10px auto;
    background-color: white;
    margin-top: 50px;
    height: 750px;
    border-radius: 5px;
}

/* modifiche pulsanti */
.button{
    padding-left: 70px;
    padding-top: 20px;
    font-size: 32px;
    display: inline-block;
}

button{
    width: 80px;
    height: 30px;
    background-color: rgb(8, 206, 255);
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
}

#aggiungi{
    padding-left: 5px;
    color: white;
}

.secondbutton{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 32px;
    display: inline-block;
}

#second{
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
}

#secondtxt{
    padding-left: 5px;
    color:  silver;
}

.primasezione{
    border-bottom: 2px solid gray;
}

/* inserimento delle diverse parti */
.containerinterno{
    width: 90%;
    margin: 10px auto;
}

.simbolo{
    font-size: 25px;
}

.moments{
    color: black;
    font-size: 20px;
    font-family: Arial black;
}

.check{
    padding-left: 5px;
}

.txt{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

/* diversi bottoni */
.violet{
    width: 80px;
    height: 30px;
    background-color: blueviolet;  
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
}

.green{
    width: 80px;
    height: 30px;
    background-color: rgb(11, 155, 107);  
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
}

.orange{
    width: 80px;
    height: 30px;
    background-color: orange; 
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
}

.pink{
    width: 80px;
    height: 30px;
    background-color: rgb(182, 40, 158); 
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
}

.verde{
    width: 80px;
    height: 30px;
    background-color: darkgreen; 
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
}