*{
    margin: 0;
    padding: 0;
}


header{
    background-color: grey;
    height: 80px;
}

.riquadro{
    display: inline-block;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 50px;
    padding-bottom: 10px;
}
